body{display:  inline-table;}

h2{margin-left: 20px;}

p{margin-top: auto;}

.calc1{
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px;
  padding: 10px;/*em de dentro*/
  margin: 10px;/*margem de fora*/
}
.resu{
  border: 0.1px inset #dedede;
  border-radius: 3px;
  padding: 1px;
}
